<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td class="hstack gap-3">
          <%= link_to '詳細', article, class: "btn btn-success mr-1" %>
          <%= link_to '編集', edit_article_path(article), class: "btn btn-warning" %>
          <%= button_to '削除', article, class: "btn btn-danger", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
